.container
  %h2.task-title= @task.title
  - if user_signed_in? && current_user.has_have(@task)
    .task_edit_btn
      .dropdown
        = image_tag 'Combined Shape.png'
        .dropdown-content
          = link_to 'Edit', edit_board_task_path(board_id: @board, id:@task)
          = link_to 'Delete', board_task_path(board_id: @board, id:@task), data: { method: 'delete' } 
  -if @task.eyecatch.attached?
    .task_image
      = image_tag @task.eyecatch
  .tasks    
    .task_content
      = @task.content 
  .comments 
    %p= 'Comment'
    .comments_index
    - @comments.each do |comment|   
      .avatar_image 
        = image_tag comment.user.avatar_image         
      .comments_content  
        = comment.content
  = link_to new_board_task_comment_path(board_id: @board, task_id: @task) do
    .add_comments
      %p.content + Add New Comment